.name {
    color: black;
    font-weight: bold;
    font-size: 30px;
}

.price {
    color: blue;
    font-size: 25px;

}

.available {
    color: green;
    font-size: 20px;
}

.notavailable {
    color: red;
    font-size: 20px;
}

.card {
    border: 2px solid;
    width: 300px;
    height: 200px;
    margin: 20px;
    padding: 20px;
    text-align: center;
}

.c {
    display: flex
}